@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");

:root {
  --bg-color: rgb(0, 0, 0);
  --questionWidthAndHeight: 350px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}

.splash-container,
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

.logo-title {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;

  background: linear-gradient(to right, #ff3d16 20%, #f7ff15 30%, #0505a8 70%, #10df17 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: titleAnim 2s ease-in-out infinite alternate;
}

.splash-title {
  padding: 5rem 0;
  filter: drop-shadow(0 0 20px white);
  text-align: center;
  line-height: 9rem;
  font-size: 10rem;
}

button {
  border: 0;
  outline: 0;
  padding: 1rem;
  margin: 1rem;
  color: yellow;
  background-color: transparent;
  border: 5px dotted yellow;
  border-radius: 50px;
  font-size: 1.5rem;
  animation: startButtonPulse 0.5s ease-in-out infinite alternate;
}

.begin-button {
  font-size: 3rem;
}

@keyframes startButtonPulse {
  from {
    scale: 1;
  }
  to {
    scale: 1.01;
  }
}
@keyframes titleAnim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.countdown {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.8;
  inset: 0 0 0 0;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: countdown-overlay 3s forwards linear;
}

.countdown-number {
  color: white;
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50rem;
  font-weight: 800;
  opacity: 0;
  animation: countdown-numbers 1s forwards linear;
}

.countdown-number:nth-of-type(1) {
  animation-delay: 0s;
}

.countdown-number:nth-of-type(2) {
  animation-delay: 1s;
}

.countdown-number:nth-of-type(3) {
  animation-delay: 2s;
}

@keyframes countdown-numbers {
  0% {
    transform: rotateY(90deg);
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes countdown-overlay {
  0% {
    opacity: 0.8;
  }
  98% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.keyboard {
  margin: 1rem auto;
  width: fit-content;
  padding: 1rem;
  box-shadow: 0 0 5px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.keyboard-row {
  display: flex;
}

.keyboard-key,
.keyboard-key-inactive {
  color: black;
  width: 60px;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid black;
  box-shadow: 0 0 4px black;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.keyboard-hint {
  width: fit-content;
  padding: 1rem 5rem;
}

.keyboard-key:hover {
  background-color: aquamarine;
}

.keyboard-key-inactive {
  opacity: 0.1;
  pointer-events: none;
}

.question-slider {
  color: white;
  position: relative;
  overflow: hidden;
  min-height: calc(var(--questionWidthAndHeight) + 50px);
}

.question-slider::after,
.question-slider::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 25vw;
}

.question-slider::after {
  inset: 0 0 0 auto;
  background: linear-gradient(to right, transparent, var(--bg-color));
}

.question-slider::before {
  inset: 0 auto 0 0;
  background: linear-gradient(to left, transparent, var(--bg-color));
}

.question {
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  min-width: var(--questionWidthAndHeight);
}

.question-word {
  font-size: 4rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.question-emoji {
  color: black;
  width: calc(var(--questionWidthAndHeight) - 75px);
  height: calc(var(--questionWidthAndHeight) - 75px);
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px white;
  background-color: white;
  border-radius: 50%;
  text-shadow: 0 0 10px black;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 1px yellow;
}

.stopwatch {
  background-color: black;
  color: yellow;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  padding: 1rem;
  width: fit-content;
}

.high-scores {
  color: black;
  width: 500px;
  border: 1px solid black;
  text-align: center;
  box-shadow: 0 0 5px black;
  background-color: white;
  border-radius: 20px;
  font-size: 2rem;
  padding: 1rem;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
}

.high-scores h3 {
  font-size: 3rem;
}
.high-scores p {
  margin-bottom: 2rem;
}

.high-score-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem;
}

.high-score-line-position {
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: 1.7em;
  height: 1.7em;
}

.high-score-line-nickname {
  margin-left: 1rem;
  font-weight: 800;
}

.high-score-line-gametime {
  background-color: black;
  color: yellow;
  padding: 5px;
  margin-left: 2rem;
}
