*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.emoji-slider {
  padding: 1rem;
  display: flex;
  overflow: scroll;
  justify-content: flex-start;
  align-items: center;
}
.emoji {
  margin: 1rem;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12vw;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
  filter: drop-shadow(0 0 10px rgb(172, 172, 172));
}
